.navbar a{
	width: 85%;
	margin:auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	left: 700px;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin:0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: silver;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: red;
	position: absolute;
	left: 700px;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover:after{
	width: 100%;
}
.text img{
    align-items: center;
    position: relative; left: 400px; bottom: 1px;
    width: 600px;
    height: 200px;
}
.background-img{
	width: 100%;
	height: 150vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)),url(img/haha.jpg);
	background-size: cover;
	background-position: center;
		}
		.gallery{
			margin-bottom: 200px;
			padding-top: 10px;

		}
		.gallery input{
			display: none;

		}
		.gallery .gallery-container{
			width: 100%;
			text-align: center;
		}
		.gallery h1{
			font-weight: normal;
			position: relative;
			font-size: 35px;
			margin: 40px 0;
			color: black;
            text-shadow: 0 0 3px red, 0 0 5px blue;

		}
		.gallery h1 ::before{
			content: "";
			position: absolute;
			width: 100px;
			height: 3px;
			background-color: crimson;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			animation: animate 4s linear infinite;

		}
		@keyframes animate{
			0%{
				width: 100px;
			}
			50%{
				width: 200px;

			}
			100%{
				width: 100px;

			}
		}
		.gallery .top-content{
			background-color: rgb(246, 243, 243);
			width: 90%;
			margin: 0 auto 20px auto;
			height: 60px;
			display: flex;
			align-items: center;
			border-radius: 5px;
			box-shadow: 3px 3px 5px lightgrey;

		}
		.gallery h3{
			height: 100%;
			line-height: 60px;
			padding: 0 50px;
			background-color: lightgrey;
			color: white;

		}
		.gallery label{
			display: inline-block;
			height: 100%;
			margin: 0 20px;
			line-height: 60px;
			font-size: 18px;
			color: gray;
			cursor: pointer;
			transition: color .5s;


		}
		.gallery label:hover{
			color: black;

		}
		.gallery .photo-gallery{
			width: 90%;
			margin: auto;
			display: grid;
			grid-template-columns: repeat(4,1fr);
			grid-gap: 20px;

		}
		.gallery .pic{
			position: relative;
			height: 230px;
			border-radius: 10px;
			box-shadow: 5px 5px 10px gray;
			cursor: pointer;
			transition: .5s;


		}
		.gallery .pic img{
			width: 100%;
			height: 100%;
			border-radius: 10px;
			transition: .5s;

		}
		.gallery .pic::before{
			content: "PHOTO GALLERY";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			font-size: 22px;
			font-weight: bold;
			width: 100%;
			margin-top: 100px;
			opacity: 0;
			transform: .3s;
			transition-delay: .2s;
			z-index: 1;
		}
		.gallery .pic:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			border-radius: 10px;
			width: 100%;
			height: 0;
			background-color: rgb(0, 0, 0, 4);
			transition: .3s;

		}
		.gallery .pic:hover::after{
			height: 100%;

		}
		.gallery .pic:hover::before{
			margin-top: 0;
			opacity: 1;

		}
		.gallery #check1:checked~ .gallery-container .photo-gallery .pic{
			opacity: 1;
			transform: scale(1);
			position: relative;
			transition: .5s;

		}
		.gallery #check2:checked~ .gallery-container .photo-gallery .Events{
			opacity: 1;
			transform: scale(1);
			position: relative;

		}
		.gallery #check2:checked~ .gallery-container .photo-gallery .Bonding,
		.gallery #check2:checked~ .gallery-container .photo-gallery .Outing{
			opacity: 1;
			transform: scale(0);
			position: absolute;
			transition: 0s;

		}
		.gallery #check3:checked~ .gallery-container .photo-gallery .Bonding{
			opacity: 1;
			transform: scale(1);
			position: relative;
		}
		.gallery #check3:checked~ .gallery-container .photo-gallery .Events,
		.gallery #check3:checked~ .gallery-container .photo-gallery .Outing{
			opacity: 1;
			transform: scale(0);
			position: absolute;
			transition: 0s;

		}
		.gallery #check4:checked~ .gallery-container .photo-gallery .Outing{
			opacity: 1;
			transform: scale(1);
			position: relative;
		}
		.gallery #check4:checked~ .gallery-container .photo-gallery .Events,
		.gallery #check4:checked~ .gallery-container .photo-gallery .Bonding{
			opacity: 1;
			transform: scale(0);
			position: absolute;
			transition: 0s;
		}
		@media screen and (max-width: 992px){
			.gallery .photo-gallery{
				width: 90%;
				margin: auto;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;

			}
		}
		@media screen and (max-width: 768px){

			.gallery h1 {
				font-weight: normal;
				position: relative;
				font-size: 28px;
				margin: 40px 0;

			}
			.gallery h3{
				display: none;


			}
			.gallery label{
				height: 100%;
				font-size: 11px;
				color: gray;
				cursor: pointer;
				transition: color .5s;
			}
			.gallery label:hover{
				color: black;
			}
			.gallery .photo-gallery{
				width: 80%;
				margin: auto;
				display: grid;
				grid-template-columns: 1fr;

			}
		}